<!doctype html>
<html>
  <head>
    <title>Insta Reel</title>
    <link rel="stylesheet" href="application.css" type="text/css">
  </head>

  <body>
    <div id="ig_form">
      <h2>Enter a Hashtag:</h2>
      <form action="">
        <span class="hash_label">#</span>
        <input type="text" id="hash_input" autocomplete="off" pattern="^[a-zA-Z]+">
        <button>Submit</button>
      </form>
    </div>

    <div id="ig_photo">
      <img src="">
    </div>
    <div id="ig_text"></div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="application.js" type="text/javascript"></script>
  </body>
</html>